@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@keyframes dash {
  to {
    stroke-dashoffset: -1000;
  }
}

.animate-dash {
  animation: dash 20s linear infinite;
}
